body, a {
    font-family: arial,sans-serif;
    background: #fff;
    color: #222;
}
body, html {
    font-size: small;
}
nav {
    position: relative;
    top: 16px;
    font-size: 13px;
}

#nav-right{
    
    position: fixed;
    top: 0;
    right: 0;
    
 
}
.nav-right-divs{
   display: inline;
}
.nav-right-divs>a:hover{
    text-decoration: underline;
    color: #222;
}
.nav-left-divs>a:hover{
    text-decoration: underline;
    color: #222;
}

.form{
    text-align: center;
}
#googleit:hover {
    box-shadow: 1px 1px 12px -1px #ccc;
  }
 .input-div{
    width: 480px;
    border: 1px  #dfe1e5;
    border-radius: 24px;
    display: inline;
 }
 #img{

    text-align: center;
    padding-top: 109px;
   
 }
 #pp{
    width: 4%;
    height: 4%;
    border: black;
    border-radius: 100%;
 }
 a{
    text-decoration: none;
    color: #222;
}

.input-area{
    width: 582px;
    margin: 0 auto;
    margin-top: 23px;
    padding-top: 6px;
    border-radius: 24px;
    z-index: 3;
    height: 38px;
    text-align: center;
    appearance: textfield;
    cursor: text;
}
.input-area:hover{
    box-shadow: 1px 1px 12px -1px #ccc;
}
.simage{
    display: inline;
    float: left;
}
.mimage{
    display: inline;
    float: right;
    cursor: pointer;
   

}
#footer{
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    color: #222;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    font-size: 14px;
    line-height: 40px;
    font-size: 10pt;
}
.f-right{
    position: fixed;
    bottom:0;
    right: 0;
    
}
#footer a{
    margin: 0 auto;
    padding:10px;
    color: #5F6368;
}
#footer a:hover{
    text-decoration: underline;
}
.buttons{

    width: auto;
    text-align: center;
    margin-top: 20px;
    

}

.googlesearch 
{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    border-radius: 4px;
    cursor:pointer;
    padding:10px;
}
.googlesearch:hover{
    color: #222;
    box-shadow: 1px 1px 3px 0px #ccc;
    border: 1px solid #bbb;
}
.feelinglucky{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    border-radius: 4px;
    cursor:pointer;
    padding:10px;
}
.feelinglucky:hover{
    color: #222;
    box-shadow: 1px 1px 3px 0px #ccc;
    border: 1px solid #bbb;
}